##### Eclipse ####

*.pydevproject
.project
.metadata
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PDT-specific
.buildpath

#### Linux ####
*~

#### onyX ####
*/logs/*
*/cache/*
web/uploads/*
