##### Eclipse ####

*.pydevproject
.project
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PDT-specific
.buildpath

#### NetBeans ####
nbproject

#### Linux ####
*~

#### onyX ####
logs/app_*.log
cache/*
!cache/.gitkeep
vendor/*
!vendor/.gitkeep
