<IfModule mod_rewrite.c>
Options -MultiViews

RewriteEngine On

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://example.com/.*$                        [NC]
RewriteRule \.(jpe?g|gif|png|bmp|js|css|ico)$                           - [F,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php                                                      [L]

</IfModule>

<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
<IfModule mod_headers.c>
Header append Vary User-Agent
</IfModule>
</IfModule>

<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType image/jpg "access plus 1 months"
ExpiresByType image/gif "access plus 1 months"
ExpiresByType image/jpeg "access plus 1 months"
ExpiresByType image/png "access plus 1 months"
ExpiresByType text/css "access plus 24 hours"
ExpiresDefault "access plus 1 months"
</IfModule>

<IfModule mod_headers.c>
<FilesMatch "\.(ico|pdf|flv|jpe?g|png|gif|js|css|swf)$">
Header set Cache-Control "public, no-transform"
</FilesMatch>
</IfModule>